body{
    /* background-color: #cecece; */
}
.title-site {
    background-image: url(img/fast-back.jpg);
    background-size: contain;
    min-height: 300px;
    background-repeat: no-repeat;
    background-position-x: center;
}
.body{
    padding-top: 50px;
}
.title-site h2{
    text-align: center;
    font-size: 5rem;
    font-family: fantasy;
}
.ejer{
    height: 300px;
    background-color: #cecece;
}